In [2]:
import pandas as pd

In [2]:
df1 = pd.Series([22,33,44])
df1

0    22
1    33
2    44
dtype: int64

In [3]:
df2 = pd.Series([22,33.12,'cse', True])
df2

0       22
1    33.12
2      cse
3     True
dtype: object

In [4]:
df2 = pd.Series(('a','b'))
df2

0    a
1    b
dtype: object

In [4]:
series1 = pd.Series(["CSM","CSE","ECE"], index=['66','05','04'])
print(series1)

66    CSM
05    CSE
04    ECE
dtype: object

In [5]:
series1 = pd.Series(["CSM","CSE","ECE"], index=['66','05','04'])
print(series1)

66    CSM
05    CSE
04    ECE
dtype: object

In [9]:
#Creation of Series from NumPy Arrays
import numpy as np # import NumPy with alias np
import pandas as pd
array1 = np.array([1,2,3,4])
series3 = pd.Series(array1)
print(series3)

0    1
1    2
2    3
3    4
dtype: int32

In [8]:
series4 = pd.Series(array1, index = ["Jan","Feb", "Mar", "Apr"])
print(series4)

Jan    1
Feb    2
Mar    3
Apr    4
dtype: int32

In [14]:
series5 = pd.Series(array1, index = ["Jan","Feb", "Mar"])
print(series5)

ValueError: Length of values (4) does not match length of index (3)

In [15]:
#Creation of Series from Dictionary
dict1 = {'India': 'NewDelhi', 'UK':'London', 'Japan': 'Tokyo'}
print(dict1) #Display the dictionary

series8 = pd.Series(dict1)
print(series8) #Display the series

{'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
India    NewDelhi
UK         London
Japan       Tokyo
dtype: object

In [9]:
#Accessing Elements of a Series
#1. Indexing
#2. Slicing
seriesNum = pd.Series([10,20,30])
seriesNum[2]

30

In [10]:
seriesMnths = pd.Series([2,3,4],index=["Feb","Mar","Apr"])
seriesMnths["Mar"]

3

In [11]:
seriesCapCntry = pd.Series(['NewDelhi','WashingtonDC', 'London', 'Paris'],
                     index=['India', 'USA', 'UK', 'France'])
seriesCapCntry['India']

'NewDelhi'

In [19]:
seriesCapCntry[1]

'WashingtonDC'

In [20]:
#More than one element of a series can be accessed using a list of positional integers
seriesCapCntry[[3,2]]

France     Paris
UK        London
dtype: object

In [12]:
seriesCapCntry[['UK','USA']]

UK           London
USA    WashingtonDC
dtype: object

In [13]:
seriesCapCntry.index=[10,20,30,40]
seriesCapCntry

10        NewDelhi
20    WashingtonDC
30          London
40           Paris
dtype: object

In [24]:
seriesCapCntry = pd.Series(['NewDelhi', 'WashingtonDC', 'London',
'Paris'], index=['India', 'USA', 'UK', 'France'])
seriesCapCntry[1:3] #excludes the value at index position 3

USA    WashingtonDC
UK           London
dtype: object

In [25]:
#If labelled indexes are used for slicing, then value at the end index
#label is also included in the output, for example:
seriesCapCntry['USA' : 'France']

USA       WashingtonDC
UK              London
France           Paris
dtype: object

In [14]:
#series in reverse order
seriesCapCntry[ : : -1]

40           Paris
30          London
20    WashingtonDC
10        NewDelhi
dtype: object

In [27]:
#We can also use slicing to modify the values of series elements
seriesAlph = pd.Series(np.arange(10,16,1),
index = ['a', 'b', 'c', 'd', 'e', 'f'])
seriesAlph

a    10
b    11
c    12
d    13
e    14
f    15
dtype: int32

In [28]:
seriesAlph[1:3] = 50
seriesAlph

a    10
b    50
c    50
d    13
e    14
f    15
dtype: int32

In [10]:
#DataFrame
import pandas as pd
dFrameEmt = pd.DataFrame()
dFrameEmt

Empty DataFrame
Columns: []
Index: []

In [11]:
#Creation of DataFrame from NumPy ndarrays
import numpy as np
array1 = np.array([10,20,30])
array2 = np.array([100,200,300])
array3 = np.array([-10,-20,-30, -40])
dFrame4 = pd.DataFrame(array1)
dFrame4

    0
0  10
1  20
2  30

In [12]:
dFrame5 = pd.DataFrame([array1, array3,
array2], columns=[ 'A', 'B', 'C', 'D'])
dFrame5

     A    B    C     D
0   10   20   30   NaN
1  -10  -20  -30 -40.0
2  100  200  300   NaN

In [13]:
#Creation of DataFrame from List of Dictionaries
listDict = [{'a':10, 'b':20}, {'a':5,'b':10, 'c':20}]
dFrameListDict = pd.DataFrame(listDict)
dFrameListDict

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [14]:
#Creation of DataFrame from Dictionary of Lists
dictForest = {'State': ['Assam', 'Delhi','Kerala'],
'GArea': [78438, 1483, 38852] ,
'VDF' : [2797, 6.72,1663]}
dFrameForest= pd.DataFrame(dictForest)
dFrameForest

    State  GArea      VDF
0   Assam  78438  2797.00
1   Delhi   1483     6.72
2  Kerala  38852  1663.00

In [15]:
#Creation of DataFrame from Series
seriesA = pd.Series([1,2,3,4,5],
index = ['a', 'b', 'c', 'd', 'e'])
seriesB = pd.Series ([1000,2000,-1000,-5000,1000],
index = ['a', 'b', 'c', 'd', 'e'])
seriesC = pd.Series([10,20,-10,-50,100],
index = ['z', 'y', 'a', 'c', 'e'])

In [16]:
dFrame7 = pd.DataFrame([seriesA, seriesB,seriesC])
dFrame7

        a       b       c       d       e     z     y
0     1.0     2.0     3.0     4.0     5.0   NaN   NaN
1  1000.0  2000.0 -1000.0 -5000.0  1000.0   NaN   NaN
2   -10.0     NaN   -50.0     NaN   100.0  10.0  20.0

In [17]:
marks = pd.read_csv("pandasDataset.csv",sep =",", header=0)
marks

          HTNO  PPS  DS  CG  CN  DBMS
0   20261A0501   93  89  91  96    91
1   20261A0502   91  87  91  97    91
2   20261A0503   90  89  94  86    85
3   20261A0504   88  85  85  95    85
4   20261A0505   92  92  90  97    94
5   20261A0506   97  91  92  92    96
6   20261A0507   95  95  88  94    95
7   20261A0508   86  92  96  90    94
8   20261A0509   97  89  88  86    88
9   20261A0510   95  88  94  87    94
10  20261A0511   92  96  94  85    85
11  20261A0512   87  85  93  87    89
12  20261A0513   90  96  86  88    94
13  20261A0514   85  88  96  97    94
14  20261A0515   95  96  88  85    85
15  20261A0516   85  89  92  92    97
16  20261A0517   85  91  97  89    95
17  20261A0518   88  90  89  94    87
18  20261A0519   94  96  96  92    97
19  20261A0520   89  97  86  85    97
20  20261A0521   90  86  97  94    97
21  20261A0522   97  88  91  92    92
22  20261A0523   87  85  86  86    87
23  20261A0524   92  93  90  85    94
24  20261A0525   89  87  85  93    94
25  20261A0526   91  91  96  88    95
26  20261A0527   97  92  96  96    88
27  20261A0528   90  95  91  96    92
28  20261A0529   91  96  86  92    93
29  20261A0530   89  89  92  91    95
30  20261A0531   89  96  97  96    93
31  20261A0532   87  90  92  87    85
32  20261A0533   95  86  93  94    85
33  20261A0534   85  92  95  87    91
34  20261A0535   87  92  89  96    97
35  20261A0536   94  95  95  96    89
36  20261A0537   90  95  95  87    93
37  20261A0538   97  90  89  95    93
38  20261A0539   95  90  92  91    96
39  20261A0540   97  95  87  87    94
40  20261A0541   89  95  95  87    85
41  20261A0542   95  91  89  92    90
42  20261A0543   88  94  97  90    97
43  20261A0544   87  92  96  93    85
44  20261A0545   85  94  95  89    97
45  20261A0546   96  96  88  85    85
46  20261A0547   96  89  89  97    90
47  20261A0548   89  88  89  91    85
48  20261A0549   91  94  95  93    88
49  20261A0550   94  91  85  94    95
50  20261A0551   93  89  91  91    95
51  20261A0552   91  97  92  94    86
52  20261A0553   88  94  97  97    87
53  20261A0554   88  89  97  94    86
54  20261A0555   96  96  97  90    96
55  20261A0556   91  92  86  95    95
56  20261A0557   89  87  90  97    85
57  20261A0558   90  91  89  89    89
58  20261A0559   96  92  86  90    96
59  20261A0560   87  88  92  95    96

In [4]:
marks.tail()

          HTNO  PPS  DS  CG  CN  DBMS
55  20261A0556   91  92  86  95    95
56  20261A0557   89  87  90  97    85
57  20261A0558   90  91  89  89    89
58  20261A0559   96  92  86  90    96
59  20261A0560   87  88  92  95    96

In [5]:
marks.head()

         HTNO  PPS  DS  CG  CN  DBMS
0  20261A0501   93  89  91  96    91
1  20261A0502   91  87  91  97    91
2  20261A0503   90  89  94  86    85
3  20261A0504   88  85  85  95    85
4  20261A0505   92  92  90  97    94

In [6]:
#Dataframe Attributes
marks.index

RangeIndex(start=0, stop=60, step=1)

In [7]:
marks.columns

Index(['HTNO', 'PPS', 'DS', 'CG', 'CN', 'DBMS'], dtype='object')

In [8]:
marks.dtypes

HTNO    object
PPS      int64
DS       int64
CG       int64
CN       int64
DBMS     int64
dtype: object

In [9]:
marks.values

array([['20261A0501', 93, 89, 91, 96, 91],
       ['20261A0502', 91, 87, 91, 97, 91],
       ['20261A0503', 90, 89, 94, 86, 85],
       ['20261A0504', 88, 85, 85, 95, 85],
       ['20261A0505', 92, 92, 90, 97, 94],
       ['20261A0506', 97, 91, 92, 92, 96],
       ['20261A0507', 95, 95, 88, 94, 95],
       ['20261A0508', 86, 92, 96, 90, 94],
       ['20261A0509', 97, 89, 88, 86, 88],
       ['20261A0510', 95, 88, 94, 87, 94],
       ['20261A0511', 92, 96, 94, 85, 85],
       ['20261A0512', 87, 85, 93, 87, 89],
       ['20261A0513', 90, 96, 86, 88, 94],
       ['20261A0514', 85, 88, 96, 97, 94],
       ['20261A0515', 95, 96, 88, 85, 85],
       ['20261A0516', 85, 89, 92, 92, 97],
       ['20261A0517', 85, 91, 97, 89, 95],
       ['20261A0518', 88, 90, 89, 94, 87],
       ['20261A0519', 94, 96, 96, 92, 97],
       ['20261A0520', 89, 97, 86, 85, 97],
       ['20261A0521', 90, 86, 97, 94, 97],
       ['20261A0522', 97, 88, 91, 92, 92],
       ['20261A0523', 87, 85, 86, 86, 87],
       ['20261A0524', 92, 93, 90, 85, 94],
       ['20261A0525', 89, 87, 85, 93, 94],
       ['20261A0526', 91, 91, 96, 88, 95],
       ['20261A0527', 97, 92, 96, 96, 88],
       ['20261A0528', 90, 95, 91, 96, 92],
       ['20261A0529', 91, 96, 86, 92, 93],
       ['20261A0530', 89, 89, 92, 91, 95],
       ['20261A0531', 89, 96, 97, 96, 93],
       ['20261A0532', 87, 90, 92, 87, 85],
       ['20261A0533', 95, 86, 93, 94, 85],
       ['20261A0534', 85, 92, 95, 87, 91],
       ['20261A0535', 87, 92, 89, 96, 97],
       ['20261A0536', 94, 95, 95, 96, 89],
       ['20261A0537', 90, 95, 95, 87, 93],
       ['20261A0538', 97, 90, 89, 95, 93],
       ['20261A0539', 95, 90, 92, 91, 96],
       ['20261A0540', 97, 95, 87, 87, 94],
       ['20261A0541', 89, 95, 95, 87, 85],
       ['20261A0542', 95, 91, 89, 92, 90],
       ['20261A0543', 88, 94, 97, 90, 97],
       ['20261A0544', 87, 92, 96, 93, 85],
       ['20261A0545', 85, 94, 95, 89, 97],
       ['20261A0546', 96, 96, 88, 85, 85],
       ['20261A0547', 96, 89, 89, 97, 90],
       ['20261A0548', 89, 88, 89, 91, 85],
       ['20261A0549', 91, 94, 95, 93, 88],
       ['20261A0550', 94, 91, 85, 94, 95],
       ['20261A0551', 93, 89, 91, 91, 95],
       ['20261A0552', 91, 97, 92, 94, 86],
       ['20261A0553', 88, 94, 97, 97, 87],
       ['20261A0554', 88, 89, 97, 94, 86],
       ['20261A0555', 96, 96, 97, 90, 96],
       ['20261A0556', 91, 92, 86, 95, 95],
       ['20261A0557', 89, 87, 90, 97, 85],
       ['20261A0558', 90, 91, 89, 89, 89],
       ['20261A0559', 96, 92, 86, 90, 96],
       ['20261A0560', 87, 88, 92, 95, 96]], dtype=object)

In [10]:
marks.shape

(60, 6)

In [11]:
marks.size

360

In [12]:
marks.T  #transpose

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
HTNO,20261A0501,20261A0502,20261A0503,20261A0504,20261A0505,20261A0506,20261A0507,20261A0508,20261A0509,20261A0510,...,20261A0551,20261A0552,20261A0553,20261A0554,20261A0555,20261A0556,20261A0557,20261A0558,20261A0559,20261A0560
PPS,93,91,90,88,92,97,95,86,97,95,...,93,91,88,88,96,91,89,90,96,87
DS,89,87,89,85,92,91,95,92,89,88,...,89,97,94,89,96,92,87,91,92,88
CG,91,91,94,85,90,92,88,96,88,94,...,91,92,97,97,97,86,90,89,86,92
CN,96,97,86,95,97,92,94,90,86,87,...,91,94,97,94,90,95,97,89,90,95
DBMS,91,91,85,85,94,96,95,94,88,94,...,95,86,87,86,96,95,85,89,96,96

In [30]:
#Adding a New Column to a DataFrame
import random
marks['EP'] = [random.randint(85,97) for iter in range(60)] #[]

In [31]:
marks

          HTNO  PPS  DS  CG  CN  DBMS  EP
0   20261A0501   93  89  91  96    91  86
1   20261A0502   91  87  91  97    91  93
2   20261A0503   90  89  94  86    85  91
3   20261A0504   88  85  85  95    85  97
4   20261A0505   92  92  90  97    94  92
5   20261A0506   97  91  92  92    96  95
6   20261A0507   95  95  88  94    95  93
7   20261A0508   86  92  96  90    94  96
8   20261A0509   97  89  88  86    88  89
9   20261A0510   95  88  94  87    94  86
10  20261A0511   92  96  94  85    85  93
11  20261A0512   87  85  93  87    89  90
12  20261A0513   90  96  86  88    94  89
13  20261A0514   85  88  96  97    94  96
14  20261A0515   95  96  88  85    85  90
15  20261A0516   85  89  92  92    97  94
16  20261A0517   85  91  97  89    95  89
17  20261A0518   88  90  89  94    87  97
18  20261A0519   94  96  96  92    97  88
19  20261A0520   89  97  86  85    97  87
20  20261A0521   90  86  97  94    97  97
21  20261A0522   97  88  91  92    92  90
22  20261A0523   87  85  86  86    87  96
23  20261A0524   92  93  90  85    94  92
24  20261A0525   89  87  85  93    94  97
25  20261A0526   91  91  96  88    95  96
26  20261A0527   97  92  96  96    88  88
27  20261A0528   90  95  91  96    92  86
28  20261A0529   91  96  86  92    93  87
29  20261A0530   89  89  92  91    95  93
30  20261A0531   89  96  97  96    93  95
31  20261A0532   87  90  92  87    85  89
32  20261A0533   95  86  93  94    85  94
33  20261A0534   85  92  95  87    91  97
34  20261A0535   87  92  89  96    97  96
35  20261A0536   94  95  95  96    89  92
36  20261A0537   90  95  95  87    93  85
37  20261A0538   97  90  89  95    93  89
38  20261A0539   95  90  92  91    96  86
39  20261A0540   97  95  87  87    94  86
40  20261A0541   89  95  95  87    85  91
41  20261A0542   95  91  89  92    90  97
42  20261A0543   88  94  97  90    97  95
43  20261A0544   87  92  96  93    85  93
44  20261A0545   85  94  95  89    97  90
45  20261A0546   96  96  88  85    85  96
46  20261A0547   96  89  89  97    90  89
47  20261A0548   89  88  89  91    85  95
48  20261A0549   91  94  95  93    88  95
49  20261A0550   94  91  85  94    95  88
50  20261A0551   93  89  91  91    95  88
51  20261A0552   91  97  92  94    86  85
52  20261A0553   88  94  97  97    87  90
53  20261A0554   88  89  97  94    86  93
54  20261A0555   96  96  97  90    96  89
55  20261A0556   91  92  86  95    95  90
56  20261A0557   89  87  90  97    85  90
57  20261A0558   90  91  89  89    89  87
58  20261A0559   96  92  86  90    96  86
59  20261A0560   87  88  92  95    96  95

In [32]:
marks.loc['20261A0561'] = [85, 86, 83, 80, 90, 89]

ValueError: cannot set a row with mismatched columns

In [33]:
marks.loc[60] = ['20261A0561',85, 86, 83, 80, 90, 89]

In [34]:
marks.tail(1)

          HTNO  PPS  DS  CG  CN  DBMS  EP
60  20261A0561   85  86  83  80    90  89

In [35]:
#Accessing DataFrames Element through Indexing
marks.loc[21]

HTNO    20261A0522
PPS             97
DS              88
CG              91
CN              92
DBMS            92
EP              90
Name: 21, dtype: object

In [36]:
marks.loc[:, 'PPS']

0     93
1     91
2     90
3     88
4     92
      ..
56    89
57    90
58    96
59    87
60    85
Name: PPS, Length: 61, dtype: int64

In [37]:
print(marks['HTNO'])

0     20261A0501
1     20261A0502
2     20261A0503
3     20261A0504
4     20261A0505
         ...
56    20261A0557
57    20261A0558
58    20261A0559
59    20261A0560
60    20261A0561
Name: HTNO, Length: 61, dtype: object

In [44]:
marks.loc[12:24]

          HTNO  PPS  DS  CG  CN  DBMS  EP
12  20261A0513   90  96  86  88    94  89
13  20261A0514   85  88  96  97    94  96
14  20261A0515   95  96  88  85    85  90
15  20261A0516   85  89  92  92    97  94
16  20261A0517   85  91  97  89    95  89
17  20261A0518   88  90  89  94    87  97
18  20261A0519   94  96  96  92    97  88
19  20261A0520   89  97  86  85    97  87
20  20261A0521   90  86  97  94    97  97
21  20261A0522   97  88  91  92    92  90
22  20261A0523   87  85  86  86    87  96
23  20261A0524   92  93  90  85    94  92
24  20261A0525   89  87  85  93    94  97

In [45]:
marks.loc[12:24,"EP"]

12    89
13    96
14    90
15    94
16    89
17    97
18    88
19    87
20    97
21    90
22    96
23    92
24    97
Name: EP, dtype: int64

In [46]:
marks12to24=marks.loc[12:24,["HTNO","PPS","EP"]]

In [48]:
#export data to csv
marks12to24.to_csv( 'marks12to24.csv', sep = ',', header = True, index= False)